a, a:hover {
	text-decoration: none;
	color: black;
}

button, .input-button {
	cursor: pointer;
}

html {
	/*background-image: url("https://static.pexels.com/photos/26559/pexels-photo-26559-large.jpg");*/
	background-image: url("http://i.imgur.com/iXHO2Q3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

body {
	width: 85%;
	margin: 2em auto;
	font-family: 'Raleway', sans-serif;
}

#app, body {
	background: none;
	max-width: 900px;
}

.search, .search:hover {
	text-decoration: none;
	color: white;
}

input.form-control:focus {
	border-color: #5cb85c; /*green*/
}

.form-control:focus {
  border-color: #5cb85c; /*green*/
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}

.trails {
	margin: 2em 0 2em 0;
	padding: 1em;
	/*border: .5px solid black;*/
	background-color: rgba(245, 245, 220, 0.8); /*beige*/
}

.login-page, .inputs {
	text-align: center;
}

.login-page h1 {
	font-family: 'Rock Salt', cursive;
	font-weight: bolder;
	margin: 4em 0 4em 0;
}

.login-button {
	margin: 0 0 2em 0;
}

.demo-login-button {
	margin: 2em 0;
}

h3.trail-title {
	font-family: 'Rock Salt', cursive;
	text-decoration: underline;
}

.trail-title a:hover {
	color: #5cb85c; /*green*/
}

.trail-top h3 {
	font-family: 'Rock Salt', cursive;
	float: left;
}

.trail-top button {
	float: right;
}

.favorites-button {
	margin: 2em auto;
}

.trail-title .page-title {
	text-align: center;
	font-family: 'Rock Salt', cursive;
}

.page-title {
	margin: 1.5em 0;
}

.logout {
	text-align: center;
	margin-top: 4em;
}

.input {
	width: 50%;
	margin: 2em auto 2em auto;
}

.sub-header {
	text-align: center;
	margin-top: 1.5em;
	font-family: 'Rock Salt', cursive;
	font-weight: bolder;
	font-size: 1.25em;
	color: black;
}

.trail-title {
	font-size: 1.25em;
	font-weight: bolder;
}
