a, a:hover {
	text-decoration: none;
	color: black;
	font-variant: small-caps;
	text-transform: capitalize;
}

button, .input-button {
	cursor: pointer;
	font-variant: small-caps;
	text-transform: capitalize;
}

html {
	/*background-image: url("https://static.pexels.com/photos/26559/pexels-photo-26559-large.jpg");*/
	background-image: url("http://i.imgur.com/iXHO2Q3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

body {
	width: 100%;
	margin: 2em auto;
	font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
}

#app, body {
	background: none;
	max-width: 900px;
}

.container {
	min-height: 500px;
}

.search, .search:hover {
	text-decoration: none;
	color: white;
	font-variant: small-caps;
	text-transform: capitalize;
}

form {
	max-width: 20em;
	margin: 0 auto;
}

input.form-control:focus {
	border-color: #5cb85c; /*green*/
}

input.form-control, select {
	font-variant: small-caps;
	text-transform: capitalize;
}

.form-control:focus {
  border-color: #5cb85c; /*green*/
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}

.trails {
	margin: 2em 0 2em 0;
	padding: 1em;
	background-color: rgba(245, 245, 220, 0.8); /*beige*/
	min-height: 100%;
}

.trails h3 {
	text-align: center;
	margin-bottom: .5em;
}

.trails button {
	display: block;
	margin: 0 auto;
}

.landing-container {
	margin: 4em 0 1em 0;
}

.landing-text {
	line-height: 1em;
	margin-bottom: 2em;
	font-weight: 700;
}

.login-page, .inputs {
	text-align: center;
	color: black;
}

.login-page h1 {
	font-family: 'Rock Salt', cursive;
	font-weight: 700;
	margin: 4em 0 2em 0;
}

.login-page p {
	font-weight: 700;
	font-size: 1.25em;
	font-variant: small-caps;
	text-transform: capitalize;
}

.login-button {
	margin: 4em 0 2em 0;
	font-variant: small-caps;
	text-transform: capitalize;
}

.demo-login-button {
	margin: 2em 0;
}

h3.trail-title {
	font-family: 'Rock Salt', cursive;
	text-decoration: underline;
}

.trail-title a:hover {
	color: #5cb85c; /*green*/
}

.trail-top h3 {
	font-family: 'Rock Salt', cursive;
	float: left;
}

.trail-top button {
	float: right;
}

.favorites-button {
	margin: 2em auto;
	text-align: center;
}

.trail-title .page-title {
	text-align: center;
	font-family: 'Rock Salt', cursive;
}

.page-title {
	margin: 1.5em 0;
}

.logout {
	text-align: center;
	margin-top: 3em;
}

.input {
	width: 50%;
	margin: 2em auto 2em auto;
}

.sub-header {
	text-align: center;
	margin-top: 1.5em;
	font-family: 'Rock Salt', cursive;
	font-weight: bolder;
	font-size: 1.25em;
	color: black;
}

.trail-title {
	font-size: 1.25em;
	font-weight: bolder;
}

@media screen and (max-width: 900px) {
	.container {
		width: 100%;
		padding: .5em;
	}
}
